<%- include("./partials/header") -%>

    <body>
        <nav>
            <ul>
                <li><a href="./about">about</a></li>
                <li><a href="./contact_us">contact</a></li>
                <li><a href="./" class="active">Home page</a></li>
            </ul>
        </nav>
        <main>
            <%posts.forEach((post)=> {%>
                <form action="/delete" method="post">
                    <div class="item">
                        <h2>Title-<%= post.TITLE %><input type="checkbox" name="checkbox" onchange="this.form.submit()"
                                    value="<%=post._id%>">
                        </h2>


                        <p>
                            <%= post.content.substring(0,100) + "..." ;%><br>
                                <a href="./news/<%= post.title %>">Click to see more</a>
                        </p>
                    </div>
                </form>

                <%})%>


        </main>
        <section class="footer">
            <%- include("./partials/footer") -%>
        </section>
    </body>


    </html>