<%- include("./partials/header") -%>

<body>
    <nav>
        <ul>
           
            <li><a href="./addItem">Add financial statements</a></li>
        
        </ul>
    </nav>
    <main>
        <h1>Hello world</h1>
        <h2>Your total expenditure to date is: </h2>
        <%-transactions[0] 
        %>
<h2>
    In this current month, you have spent on the following: 
    <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Transaction</th> 
            <th>Company</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
         <% for(let i = 0; i < transactions[1].length; i+=4) { %>
           <tr>
             <td><%= transactions[1][i] %></td>
             <td><%= transactions[1][i+1] %></td>
             <td><%= transactions[1][i+2] %></td>  
             <td><%= transactions[1][i+3] %></td>
           </tr>
         <% } %>
        </tbody>
      </table>
      

</h2>        
        
    </main>

</body>
</html>
 